// Height and width
$base-max-w              = 960px
$base-min-w              = 320px
$column-primary-w        = 620px
$column-secondary-w      = 320px
$input-h                 = 34px
$header-h                = auto
$footer-h                = auto
$sticky-footer           = false

// colors
$base-font-c             = #565656
$title-c 		             = #696969
$brand-c                 = #02a3e6
$body-c                  = #fff
$border-c                = #ccc
$input-c                 = $base-font-c

// fonts
$base-f-size             = 13px
$base-f-height           = 1.4
$font-face               = false
$base-f                  = Arial, "Helvetica Neue", Helvetica, sans-serif;
$brand-f                 = $base-f
$title-f                 = $brand-f

//path
$font-path               = "../fonts/"
$img-path                = "../img/"

//misc
$spacer                  = 15px
$spacer-L                = ($spacer + 5px)
$spacer-S                = ($spacer - 5px)

$link-decoration         = underline
$link-decoration-hover   = none

$transition-duration     = .4s


/*grid*/
$grid-columns            = 12
$grid-gutter             = 0


/*z index*/
$z-S                     = 1
$z-M                     = 10
$z-L                     = 100
$z-XL                    = 1000
$z-always-visible        = 1000000


/*Breakpoints*/
$mobile-b                = 480px
$tablet-b                = 768px
$desktop-b               = $base-max-w