.pre-header
  padding 15px 0
  font-size 12px
  color #8A8D94
  justifize()
  container()

  
  //simple bricks

  &__icon
    font-size 13px
    color #848994

  &__link   
    color inherit
    text-decoration none

    &:hover
      text-decoration underline

    *
      text-decoration inherit


  // components

  &__shell  
    background-color #f5f7f8

  
  &__section
    hLine baseline 35px


  &__social
    hLine baseline 20px

  
  &__info
    hLine baseline 5px