ul.p-main__slider


  li.p-main__slider__unit.p-main__slider__unit--1
    article
      header.p-main__slider__unit--1__header
        h1.p-main__slider__unit--1__title Salamat is  the best
        p Fully Responsive, Awesome Sliders, E-Commerce Ready

      ul.p-main__slider__benefits
        li.p-main__slider__benefits__unit
          i.p-main__slider__benefits__unit__icon.icon-sli.sli-trophy
          | Unique Features
        li.p-main__slider__benefits__unit
          i.p-main__slider__benefits__unit__icon.icon-sli.sli-layers
          | Well Organized
        li.p-main__slider__benefits__unit
          i.p-main__slider__benefits__unit__icon.icon-sli.sli-eye
          | Retina Ready

      a.p-main__slider__btn(href="")
        span Get it now
        i.icon-sli.sli-arrow-right


  li.p-main__slider__unit.p-main__slider__unit--2
    article
      header.p-main__slider__unit--2__header
        h1.p-main__slider__unit--2__title Salamat is  the best
        p.p-main__slider__unit--2__sub-title Fully Responsive, Awesome Sliders, E-Commerce Ready

      a.p-main__slider__btn(href="")
        | Get it now
        i.icon-sli.sli-arrow-right





//-   icon-game-controller