doctype html
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
html.no-js(lang='en')


  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //meta(name='viewport', content='width=device-width,initial-scale=1'
    
    //- Fonts
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')
    //- Primary stylesheet
    link(href='assets/css/salamat-styles.css', rel='stylesheet')
    //- Icon Fonts
    link(href='assets/css/icon-font/elegant-icons.css', rel='stylesheet')
    link(href='assets/css/icon-font/font-awesome.css', rel='stylesheet')
    link(href='assets/css/icon-font/simple-line-icons.css', rel='stylesheet')
    


  body(itemscope, itemtype='http://schema.org/WebPage')


    // HEADER
    header

      .pre-header__shell
        .pre-header
          address.pre-header__section--lt
            
            //- links to social networks
            div
              ul.pre-header__social
                li
                  a.pre-header__link(href='')
                    i.icon-fa.fa-twitter.pre-header__icon
                li
                  a.pre-header__link(href='')
                    i.icon-fa.fa-facebook.pre-header__icon
                li
                  a.pre-header__link(href='')
                    i.icon-fa.fa-google-plus.pre-header__icon

            //- phone
            p
              span.pre-header__info
                i.icon-fa.fa-phone.pre-header__icon
                span +1 (800) 5260 888 52 63

            //- email
            p
              a.pre-header__info.pre-header__link(href='mailto:vargentum@gmail.com')
                i.icon-fa.fa-envelope.pre-header__icon
                span vargentum@gmail.com


          .pre-header__section--rt
            select
              option EN
              option GE
              option UA

            select
              option USD
              option EUR
              option UAH

            a.pre-header__link(href="#") Log In


      .header__shell 
        .header    

          a.header__logo(href='/')
            i.header__logo__icon
            span Salamat
            

          nav
            ul.header__nav
              li.header__nav__unit
                a.header__nav__link(href="#") Home
                ul.header__nav__dropdown
                  li.header__nav__unit
                    a.header__nav__link(href="#")

              li.header__nav__unit
                a.header__nav__link(href="#") Portfolio
                ul.header__nav__dropdown
                  li.header__nav__unit
                    a.header__nav__link(href="#")


    // CONTENT
    main.l-main

      include pages/main/main

      //section.l-main__column--primary
      //  include typography/typography
      //aside.l-main__column--secondary

    // FOOTER
    footer.l-footer

      small.copyright



    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='assets/js/salamat-plugins.js')
    script(src='assets/js/salamat-components.js')
