doctype html
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
html.no-js(lang='en')

  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //meta(name='viewport', content='width=device-width,initial-scale=1'

    link(href='assets/css/salamat-styles.css', rel='stylesheet')


  body(itemscope, itemtype='http://schema.org/WebPage')


    // HEADER
    header.l-header

      a.logo(href='/', itemprop='url')
        img(src='assets/img/logo.png', alt='', itemprop='logo', itemscope='', itemtype='http://schema.org/ImageObject')
        span.logo__hidden(itemprop='name')

      nav.nav(role='navigation')
        a.nav__link.is-active(href='#')
        a.nav__link(href='#')


    // CONTENT
    main.l-main

      include pages/main/main

      //section.l-main__column--primary
      //  include typography/typography
      //aside.l-main__column--secondary

    // FOOTER
    footer.l-footer

      small.copyright



    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='assets/js/reagent-plugins.js')
    script(src='assets/js/reagent-components.js')
